server:
  port: 8084

spring:
  application:
    name: front-service
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

logging:
  level:
    root: INFO

gateway:
  base-url: http://localhost:8080